global
    log stdout format raw local0 info
    # if you need to monitoring, uncomment next line
    # stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    daemon

    # set AEAD ciphers default
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256

    # disable SSLv3, TLSv1.0, TLSv1.1
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

    # set DH length
    tune.ssl.default-dh-param 2048

    # certs base dir
    crt-base /etc/ssl/certs

defaults
    mode http
    log global
    option httplog
    option http-keep-alive
    option dontlognull
    timeout connect 5s
    timeout client 300s
    timeout server 300s

frontend http-in
    bind :::443 v4v6 ssl crt priv-fullchain-bundle.pem proto h2 alpn h2,http/1.1
    bind quic4@:443 v4v6 ssl crt priv-fullchain-bundle.pem alpn h3

    tcp-request inspect-delay 5s
    http-request redirect scheme https unless { ssl_fc }
    http-after-response add-header alt-svc 'h3=":443"; ma=900'

    acl gRPC hdr(content-type) -i application/grpc

    use_backend v2ray_grpc if gRPC
    default_backend web

backend web
    server web nginx:443 alpn h2 check

backend v2ray_h2
    server v2ray v2ray:10086 proto h2 check

backend v2ray_grpc
    server v2ray v2ray:10088 proto h2 check

# H3 is temporarily unsupported
# backend v2ray_h3
#     server v2ray v2ray:10000 alpn h3 check
