global
    log stdout format raw local0 info
    stats timeout 30s
    daemon
    
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-server-verify none

defaults
    mode tcp
    log global
    option tcplog
    option tcpka
    option redispatch
    option dontlognull
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    timeout queue 1m

frontend tls-in
    bind :::443 v4v6

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    acl has_sni req.ssl_sni -m found

    use_backend openvpn if is_vpn
    default_backend nginx

backend openvpn
    server openvpn openvpn:443 send-proxy-v2

backend nginx
    server nginx nginx:443
