services:

  v2ray:
    image: pandasrun/v2ray:latest
    container_name: v2ray
    volumes:
      - ./config/v2ray/config.json:/etc/v2ray/config.json
      - ./config/geodata:/usr/share/v2ray
      - ./config/certs:/etc/letsencrypt
    restart: unless-stopped

  nginx:
    image: linuxserver/swag:latest
    container_name: nginx
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=99
      - PGID=99
      - TZ=${TZ}
      - URL=${DOMAIN}
      - SUBDOMAINS=${V2RAY_SUB},${OCSERV_SUB}
      - ONLY_SUBDOMAINS=true
      - VALIDATION=http
      - EMAIL=${EMAIL}
    volumes:
      - ./config/nginx/site-confs/default.conf:/config/nginx/site-confs/default.conf
      - ./config/certs:/config/etc/letsencrypt
      - ./config/www:/config/www
    ports:
      # Uses 80 port to update certs first, otherwise haproxy cannot works
      - 80:80
    restart: unless-stopped

  haproxy_tcp:
    image: pandasrun/haproxy:latest
    container_name: haproxy_tcp
    volumes:
      - ./config/haproxy/haproxy.tcp.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./config/certs/live/${V2RAY_SUB}.${DOMAIN}:/etc/ssl/certs
    ports:
      - 443:443/tcp
    restart: unless-stopped

  haproxy_http:
    image: pandasrun/haproxy:latest
    container_name: haproxy_http
    volumes:
      - ./config/haproxy/haproxy.http.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./config/certs/live/${V2RAY_SUB}.${DOMAIN}:/etc/ssl/certs
    restart: unless-stopped

  ocserv:
    image: pandasrun/ocserv:latest
    container_name: ocserv
    environment:
      - DOMAIN=${V2RAY_SUB}.${DOMAIN}
      - USERNAME=${USERNAME}
      - PASSWORD=${PASSWORD}
      - WAIT_HOSTS=nginx:443
      - WAIT_FILES=./config/certs/live/${V2RAY_SUB}.${DOMAIN}/fullchain.pem
      - WAIT_TIMEOUT=300
    volumes:
      - ./config/ocserv:/etc/ocserv
      - ./config/certs:/etc/letsencrypt
    sysctls:
      - net.ipv4.ip_forward=1
    cap_add:
      - NET_ADMIN
    security_opt:
      - no-new-privileges
    restart: unless-stopped

  warp:
    image: pandasrun/warp:latest
    container_name: warp
    volumes:
      - ./config/warp:/var/lib/cloudflare-warp
    restart: unless-stopped

networks:
  ipv6:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:0DB8::/112
