{
    "log": {
        "access": "/dev/stdout",
        "error": "/dev/stderr",
        "loglevel": "warning"
    },
    "dns": {
        "hosts": {
            "geosite:category-ads-all": "127.0.0.1",
            "epdg.epc.mnc260.mcc310.pub.3gppnetwork.org": "208.54.35.163",
            "ss.epdg.epc.mnc260.mcc310.pub.3gppnetwork.org": "208.54.35.163",
            "ss.epdg.epc.geo.mnc260.mcc310.pub.3gppnetwork.org": "208.54.87.3"
        },
        "servers": [
            "https+local://cloudflare-dns.com/dns-query",
            "https+local://dns.google/dns-query",
            "1.1.1.1",
            "8.8.8.8"
        ],
        "clientIp": "<your-host-ip>"
        // ,"tag": "dns-in"
    },
    "routing": {
        "domainStrategy": "AsIs",
        "rules": [
            {
                "type": "field",
                "outboundTag": "cf-warp",
                "domain": [
                    "domain:foo.example.com"
                ]
            },
            {
                "type": "field",
                "outboundTag": "blocked",
                "domain": [
                    "geosite:category-ads-all"
                ]
            },
            {
              "type": "field",
              "protocol": [
                  "bittorrent"
              ],
              "outboundTag": "blocked"
            }
        ]
    },
    "inbounds": [
        {
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10010,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [{
                        "certificateFile": "/etc/letsencrypt/live/<your-v2ray-domain>/fullchain.pem",
                        "keyFile": "/etc/letsencrypt/live/<your-v2ray-domain>/privkey.pem"
                    }]
                }
            }
        },
        {
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10086,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "h2",
                "httpSettings": {
                    "host": ["<your-v2ray-domain>"],
                    "path": "/api/v1/users"
                },
                "security": "tls",
                "tlsSettings": {
                    "certificates": [{
                        "certificateFile": "/etc/letsencrypt/live/<your-v2ray-domain>/fullchain.pem",
                        "keyFile": "/etc/letsencrypt/live/<your-v2ray-domain>/privkey.pem"
                    }]
                }
            }
        },
        {
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10000,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "quic",
                "quicSettings": {
                    "security": "chacha20-poly1305",
                    "key": "",
                    "header": {
                        "type": "none"
                    }
                },
                "security": "tls",
                "tlsSettings": {
                    "certificates": [{
                        "certificateFile": "/etc/letsencrypt/live/<your-v2ray-domain>/fullchain.pem",
                        "keyFile": "/etc/letsencrypt/live/<your-v2ray-domain>/privkey.pem"
                    }]
                }
            }
        },
        {
            "tag": "dns-in",
            "protocol": "dokodemo-door",
            "port": 53,
            "settings": {
                "address": "1.1.1.1",
                "port": 53,
                "network": "tcp,udp",
                "userLevel": 1
            }
        }
    ],
    "outbounds": [
        // if no tag, first is the default
        {
            "protocol": "freedom"
        },
        {
            "tag": "cf-warp",
            "protocol": "socks",
            "settings": {
                "servers": [
                    {
                        "address": "warp",
                        "port": 40001
                    }
                ]
            }
        },
        {
            "tag": "blocked",
            "protocol": "blackhole"
        },
        {
            "tag": "dns-out",
            "protocol": "dns"
        }
    ],
    "policy": {
        "system": {
            "statsInboundUplink": false,
            "statsInboundDownlink": false,
            "statsOutboundUplink": false,
            "statsOutboundDownlink": false
        },
        "levels": {
            "0": {
                "handshake": 4,
                "connIdle": 300,
                "uplinkOnly": 2,
                "downlinkOnly": 5,
                "statsUserUplink": false,
                "statsUserDownlink": false,
                "bufferSize": 10240
            }
        }
    }
}
