{
    "log": {
        "loglevel": "warning"
    },
    "dns": {
        "hosts": {
            "geosite:category-ads-all": "127.0.0.1",
            "epdg.epc.mnc260.mcc310.pub.3gppnetwork.org": "208.54.35.163",
            "ss.epdg.epc.mnc260.mcc310.pub.3gppnetwork.org": "208.54.35.163",
            "ss.epdg.epc.geo.mnc260.mcc310.pub.3gppnetwork.org": "208.54.87.3"
        },
        "servers": [
            "https+local://cloudflare-dns.com/dns-query",
            "https+local://dns.google/dns-query",
            "1.1.1.1",
            "8.8.8.8"
        ],
        "clientIp": "<your-host-ip>"
        // "tag": "dns-in"
    },
    "inbounds": [
        {
            "tag": "tcp",
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10010,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp"
            }
        },
        {
            "tag": "h2",
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10086,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "h2"
            }
        },
        {
            "tag": "grpc",
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10088,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "grpc",
                "grpcSettings": {
                    "serviceName": "<service-name>"
                }
            }
        },
        {
            "tag": "quic",
            "protocol": "vmess",
            "listen": "0.0.0.0",
            "port": 10000,
            "settings": {
                "clients": [
                    {
                        "id": "<your-uuid>"
                    }
                ]
            },
            "streamSettings": {
                "network": "quic",
                "quicSettings": {
                    "security": "chacha20-poly1305",
                    "key": "",
                    "header": {
                        "type": "none"
                    }
                }
            }
        },
        {
            "tag": "dns-in",
            "protocol": "dokodemo-door",
            "port": 53,
            "settings": {
                "address": "1.1.1.1",
                "port": 53,
                "network": "tcp,udp",
                "userLevel": 1
            }
        }
    ],
    "outbounds": [
        // if no tag, first is the default
        {
            "tag": "freedom",
            "protocol": "freedom"
        },
        {
            "tag": "cf-warp",
            "protocol": "socks",
            "settings": {
                "servers": [
                    {
                        "address": "warp",
                        "port": 40001
                    }
                ]
            }
        },
        {
            "tag": "blocked",
            "protocol": "blackhole"
        },
        {
            "tag": "dns-out",
            "protocol": "dns"
        }
    ],
    "routing": {
        "domainStrategy": "AsIs",
        "rules": [
            {
                "outboundTag": "cf-warp",
                "type": "field",
                "domain": [
                    "domain:foo.example.com"
                ]
            },
            {
                "outboundTag": "blocked",
                "type": "field",
                "domain": [
                    "geosite:category-ads-all"
                ],
                "protocol": [
                    "bittorrent"
                ]
            },
            {
                "outboundTag": "freedom",
                "type": "field",
                "domain": [""]
            }
        ]
    },
    "policy": {
        "system": {
            "statsInboundUplink": false,
            "statsInboundDownlink": false,
            "statsOutboundUplink": false,
            "statsOutboundDownlink": false
        },
        "levels": {
            "0": {
                "handshake": 4,
                "connIdle": 300,
                "uplinkOnly": 2,
                "downlinkOnly": 5,
                "statsUserUplink": false,
                "statsUserDownlink": false,
                "bufferSize": 10240
            }
        }
    }
}
